# This file includes requirements to build and test the Python packages.
ipython==8.10.0      # to avoid high-severity issue.
jupyter==1.0.0
nbconvert==7.0.0
notebook==6.5.2
numpy==1.22.0
pytest==7.2.0
pygments==2.12.0    # to avoid high-severity issue.
pyzmq==25.0.0
qutip==4.7.0
selenium==4.2.0
setuptools==67.7.2
wheel==0.37.1
Markdown>=3.4.1
python-markdown-math>=0.8
