# This file includes requirements to build and test the Python packages.
ipython==8.10.0      # to avoid high-severity issue.
jupyter==1.0.0
nbconvert==7.0.0
notebook==6.4.12
numpy==1.22.0
pytest==7.1.2
pygments==2.12.0    # to avoid high-severity issue.
pyzmq==23.2.1       # to workaround: https://github.com/zeromq/pyzmq/issues/1764
qutip==4.7.0
selenium==4.2.0
setuptools==62.6.0
wheel==0.37.1