# This file includes requirements to build and test the Python packages.
ipython==8.4.0      # to avoid high-severity issue.
jupyter==1.0.0
jupyter_kernel_test==0.4.3
nbconvert==6.5.0
notebook==6.4.12
numpy==1.21.6
pytest==7.1.2
pygments==2.12.0   # to avoid high-severity issue.
qutip==4.7.0
selenium==4.2.0
setuptools==62.6.0
wheel==0.37.1