<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!--
    This configuration tells the .NET Core SDK to look for packages from this folder.
    See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied
    for more information about how NuGet and the .NET Core SDK find package
    sources from NuGet.Config files.
-->
<configuration>
  <packageSources>
    <add key="conda-local" value="." />
  </packageSources>
</configuration>
